* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    box-sizing: border-box;
    color: #FFECD6;
    font-family: system-ui;
    font-size: 16px;
    background-image: url('./img/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin: 1em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    resize: none;
    background-color: rgba(4, 91, 253, 0.2);
    color: #FFECD6;
    font-family: system-ui;
    font-size: 1.25em; 
    width: 25em; 
    height: 30em; 
    border: 0.0625em solid #ccc; 
    padding: 0.625em; 
    margin: 0.625em; 
    border-radius: 0.625em; 
}

.caixa {
    width: 25em; 
    height: 30em;
    border: 0.0625em solid #ccc; 
    padding: 0.625em; 
    margin: 0.625em; 
    align-items: center;
    background-color: rgba(4, 91, 253, 0.2);
    border-radius: 0.625em; 
    font-size: 1.25em; 
}

footer {
    display: flex;
    align-content:center;
    justify-content: center;
    margin: 8em;
    font-size: 0.8125em; 
    gap: 0.3125em;
    position: relative;
}

.secao2 {
    display: flex;
    flex-direction: column;
}

.botaoCopiar {
    display: flex;
    order: 1;
    margin-left: 31.5em; 
}

.botaoPrincipal {
    display: flex;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 6.25em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui;
    font-size: 1em; 
    font-weight: bold;
    justify-content: center;
    line-height: 1.25em; 
    max-width: 30em; 
    min-height: 2.5em; 
    min-width: 0em;
    overflow: hidden;
    padding: 0;
    padding-left: 1.25em; 
    padding-right: 1.25em;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.botaoPrincipal:hover,
.botaoPrincipal:focus { 
    background-color: #16437E;
    color: #ffffff;
}

.botaoPrincipal:active {
    background: #09223b;
    color: rgba(255, 255, 255, 0.7);
}

.botaoPrincipal:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}

.botaoRedes {
    display: flex;
    align-items: center;
    padding: 0.125em 0.875em; 
    font-family: system-ui;
    border-radius: 0.375em;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.03125em 0.09375em rgba(54, 122, 246, 0.25), inset 0px 0.05em 0px -0.015625em rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 0.8125em;
}

.botaoRedes:focus {
    box-shadow: inset 0px 0.05em 0px -0.015625em rgba(255, 255, 255, 0.2), 0px 0.03125em 0.09375em rgba(54, 122, 246, 0.25), 0px 0px 0px 0.21875em rgba(58, 108, 217, 0.5);
    outline: 0;
}

.botaoCopiar {
    display: flex;
    align-items: center;
    padding: 0.4375em 0.8125em;
    background-color: #0A66C2;
    border: 0;
    border-radius: 6.25em; 
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 0.9375em;
    line-height: 1.25em;
    max-width: 4.375em; 
    min-height: 1.25em; 
    min-width: 0px;
    overflow: hidden;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.botaoCopiar:hover,
.botaoCopiar:focus { 
    background-color: #16437E;
    color: #ffffff;
}

.botaoCopiar:active {
    background: #09223b;
    color: rgba(255, 255, 255, 0.7);
}

.botaoCopiar:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}
