* {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    box-sizing: border-box;
    color: #FFECD6;
    font-family: system-ui;
    font-size: 1rem;
    background-image: url('./img/background2.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: rgb(2, 16, 41);
}

header {
    padding: 1em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    resize: none;
    background-color: rgb(4, 35, 94, 0.5);
    color: #FFECD6;
    font-family: system-ui;
    font-size: 1.25rem; 
    width: 73%; 
    height: 30em;
    border: 0.0625em solid #ccc; 
    padding: 0.625em; 
    margin: 5% 3% 2% 3%; 
    border-radius: 0.625rem; 
}

.caixa {
    width: 80%; 
    height: 30em;
    border: 0.0625em solid #ccc; 
    padding: 0.625em; 
    margin: 5% 3% 2% 3%; 
    align-items: center;
    background-color: rgb(4, 35, 94, 0.5);
    border-radius: 0.625em; 
    font-size: 1.25rem;
}

.secao2 {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.3eem;
    font-size: 0.8125rem;
    gap: 0.3125em;
    background-color:rgba(0, 0, 0, 0.7);
    margin-top: 3%;
}



.botaoPrincipal {
    display: flex;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 6.25em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui;
    font-size: 1rem; 
    font-weight: bold;
    justify-content: center;
    min-height: 20px; 
    min-width: 120px;
    max-width: 130px;
    overflow: hidden;
    padding: 1%;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 3%;
    order: 1;

}

.botaoPrincipal:hover,
.botaoPrincipal:focus { 
    background-color: #16437E;
    color: #ffffff;
}

.botaoPrincipal:active {
    background: #09223b;
    color: rgba(255, 255, 255, 0.7);
}

.botaoPrincipal:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}

@media (max-width:600px) {
    body {
        background-image: none;
        background-color: rgb(2, 16, 41);
    }
    .container {
        flex-direction: column;
    }
    textarea {
        width: 80%; 
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    body {
        background-image: url(./img/backgroundtablet.png);
        background-size: 100vw 100vh;
    }
}
